<!DOCTYPE html>
<html>
<head>
    <title>Admin: Applications</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">

    <h1 class="text-center mb-4">Student Applications</h1>

    <form method="GET" action="{{ url_for('admin_applications') }}" class="row g-3 align-items-center mb-4">
        <label>Filter by Status</label>
        <select name="status" onchange="this.form.submit()">
            <option value="">All</option>
            <option value="APPLIED" {{ 'selected' if current_status == 'APPLIED' else '' }}>Applied</option>
            <option value="SHORTLISTED" {{ 'selected' if current_status == 'SHORTLISTED' else '' }}>Shortlisted</option>
            <option value="ACCEPTED" {{ 'selected' if current_status == 'ACCEPTED' else '' }}>Accepted</option>
            <option value="REJECTED" {{ 'selected' if current_status == 'REJECTED' else '' }}>Rejected</option>
        </select>
    </form>

    <br>
    {% if applications %}
    <table class="table table-bordered-table table-striped table-hover">
        <tr>
            <th>Student Name</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Application Status</th>
        </tr>

        {% for application in applications %}
        <tr>
            <td>{{ application.student.student_name }}</td>
            <td>{{ application.placement_drive.company.company_name }}</td>
            <td>{{ application.placement_drive.job_position.job_title }}</td>
            <td>{{ application.application_status.value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}

    <div class="alert alert-info">
    No applications found.
    </div>
    {% endif %}

    <br><br>
    <a class="btn btn-secondary" href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>

    </div>
</body>
</html>
