<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5"> 

    <h1 class="text-center mb-4">Welcome, {{ student.student_name }}</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h2 class="mt-4 mb-3">Approved Placement Drives</h2>
    
    <form class="row g-2 mb-3 align-items-center" method="GET" action="{{ url_for('student_dashboard') }}">
        <input type="text" placeholder="Search..." name="q" value="{{ search_query or '' }}" class="form-control">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    {% if search_query %}
        <a class="btn btn-info btn-sm" href="{{ url_for('student_dashboard') }}">Show All</a>
    {% endif %}
    

    {% if drives %}
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Experience Required</th>
            <th>Application Deadline</th>
            <th>Apply</th>
        </tr>

        {% for drive in drives %}
        <tr>
            <td>{{ drive.company.company_name }}</td>
            <td>{{ drive.job_position.job_title }}</td>
            <td>{{ drive.job_position.experience_required }}</td>
            <td>{{ drive.application_deadline.strftime('%d-%m-%Y') if drive.application_deadline else 'N/A' }}</td> <!--strftime is a method on py datetime obj, (String format time)-->

            <td>
                <form class="d-inline" method="GET" action="{{ url_for('student_drive', drive_id=drive.placement_drive_id) }}">
                    <button type="submit" class="btn btn-success btn-sm">Apply</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
       <p>No drives available.</p>
    {% endif %}

    <hr>

    <h2 class="mt-4 mb-3">Applied Drives</h2>

    {% if applications %}
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Status</th>
        </tr>

        {% for application in applications %}
        <tr>
            <td>{{ application.placement_drive.company.company_name }}</td>
            <td>{{ application.placement_drive.job_position.job_title }}</td>
            <td>{{ application.application_status.value }}</td>
        </tr>
        {% endfor %}

    {% else %}
        <p>You have not applied to any placement drives yet. </p>
    {% endif %}
    </table>
    <hr>
    
    <div class="mt-3">
    <a class="btn btn-info btn-sm" href="{{ url_for('placement_history') }}">View Placement History</a>
    </div>

    <div class="mt-3"></div>
    <a class="btn btn-warning btn-sm" href="{{ url_for('student_profile') }}">Edit/Update Profile</a>
    </div>

    <a class="btn btn-secondary" href="{{ url_for('logout') }}">LOGOUT</a>

    </div>
</body>
</html>